<?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd 
                           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">


	<bean id="greetService" class="org.gwtrpcspring.example.server.service.impl.GreetingServiceImpl">
	</bean>
	
    <bean id="livreService" class="org.gwtrpcspring.example.server.service.impl.LivreServiceImpl">
	</bean>
	
<!-- 	<bean id="EventService" -->
<!-- 		class="com.formation.adhesion.ods.web.server.service.EventServiceImpl"> -->
<!-- 	</bean> -->


<!-- 	<bean id="dataLoaderService" -->
<!-- 		class="com.formation.adhesion.ods.web.server.service.DataLoaderServiceImpl"> -->
<!-- 		<property name="dataLoaderDao" ref="dataLoaderDao" /> -->
<!-- 	</bean> -->
	
<!-- 	<bean id="livreService" -->
<!-- 		class="org.gwtrpcspring.example.server.LivreServiceImpl"> -->
<!-- 		<property name="livreDao" ref="LivreDao" /> -->
<!-- 	</bean> -->
	

</beans>



